<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Ejercicio Evaluación</title>
  <link rel="icon" href="favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <partial src="_header.html" label="Header"></partial>
  <main class="main__container">
    <partial src="_aside.html" label="Main"></partial>
    <partial src="_series.html" label="Main"></partial>
  </main>
  <script src="assets/js/main.js"></script>
</body>

</html>
