.series__list {
  display:flex;
  flex-wrap: wrap;
}

.series__element {
  width: 200px;
  height: 250px;
  background-color:#BE3E82;
  color: #fff;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  padding-top:10px;
  margin:10px;
}

.series__element--favorite {
  background-color:#fff;
  color:#BE3E82;

}

.series__element__img {
  width:150px;
  height:200px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}


